<h2>Testing playground</h2>

<hr>

<nz-form-label nzFor="url">Walmart item url</nz-form-label>
<nz-input-group nzCompact>
    <input nz-input type="text" [(ngModel)]="url">
</nz-input-group>

<button [nzLoading]="loading" (click)="addToCart()" nz-button nzBlock="true" nzType="primary">
    Add item to cart by requests!
</button>

<button [nzLoading]="loading" (click)="login()" nz-button nzBlock="true" nzType="secondary">
    Login
</button>
<button [nzLoading]="loading" (click)="setShippingAddress()" nz-button nzBlock="true" nzType="secondary">
    Set shipping address
</button>